{% extends 'base_template.html' %}

{% block main %}
<div class="container mt-4">
<h1>{{ object.name }}</h1>
<h3>{{ object.sku_code }}</h3>
<h5>Добавьте обзор на товар</h5>
<div class="row">
  <div class="col-8">
    <form method="POST" action="{% url 'prod_add_rev' product_id=object.pk %}">
      {% csrf_token %}
      <h6>Email</h6>
      <div class="mb-3">
        <textarea name="email" class="form-control" id="ProductRevFormEmail" rows="1"></textarea>
      </div>
      <h6>Текст обзора</h6>
      <div class="mb-3">
        <textarea name="rev_text" class="form-control" id="ProductRevForm" rows="3"></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Отправить отзыв">
    </form>
  </div>
</div>
</div>
{% endblock %}