<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>
    <h1>Доступные продукты</h1>
    <ul>
        {% for product in products %}
                <a href="http://127.0.0.1:8000/products/{{ product.id }}/">
            {% if product.stock > 0 %}
                    <li>
                    {{ product.name }} - {{ product.price }} - {{ product.category.name }} - {{ product.stock }}
                </li>
            {% else %}
                <li>
                    {{ product.name }} - <strong>Нет в наличии</strong>
                </li>
            {% endif %}
                    </a>
        {% endfor %}
    </ul>
</body>
</html>